@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Nav Bar */

.navbar-nav .nav-item:hover .nav-link {
    color: red !important;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name, .product-price {
    flex: 1;
}


